<h3>ANSWER THE QUESTION</h3>

<% u = User.find(@question.user_id) %>
<p>You are answering this question now:</p>

<% if u.id == current_user.id %>
  <% by = "you" %>
<% else %>
  <% by = u.first_name.upcase  %>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">Subject:&ensp;<br><b><%= @question.subject %></b>
    <div style="text-align: right; font-size: 10px">created on&nbsp;<%= @question.created_at.strftime('%Y-%m-%d') %>&nbsp;by&nbsp;<%= by %></div></div>
    <div class="panel-body">

    <% if @question.description.length == 0%>
      <i style="color: #ccc">NO DESCRIPTION</i></div>
    <% else %>
      <i style="color: #ccc">DESCRIPTION:</i><br><%= @question.description %></div>
    <% end %>

</div>

<p><i class="fa fa-user w3-xxlarge"></i>&ensp;<%= current_user.first_name.upcase %></p>
<form id="ans_question" action="/questions/<%= @question.id %>/answers" method="post">
  <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
  <textarea style="background-color: #f5f5f5" class="btn-block" name="answer[content]" form='ans_question' rows="5" placeholder="Write your answer here" required></textarea>
  <input type="submit" value="Submit">
</form>