<% if current_user.nil? %>
  <h3>MOST RECENT QUESTIONS</h3>
  <h2 style="text-align: center;"><i>Log in to see more</i></h2>
<% else %>
  <h3>QUESTIONS FROM ALL USERS</h3>
  <%= will_paginate @questions %>
  <form style="text-align: right" action="/questions" method="get">
    <select id="selectTag" name="tag">
      <option>Choose category</option>
      <option value="general">General</option>
      <option value="science">Science</option>
      <option value="coding">Coding</option>
      <option value="others">Others</option>
    </select>
    <input id="createQBtn" style="color: #aaa" type="submit" value="Filter" disabled="disabled">
  </form>
  <p><%= @tag %></p>
<% end %>


<% @questions.each do |q| %> <% u = User.find(q.user_id) %>
  <% if !current_user.nil? && u.id == current_user.id %>
    <% by = "you" %>
  <% else %>
    <% by = u.first_name.upcase  %>
  <% end %>
  <div class="panel panel-info">
    <div class="panel-body"><i style="font-size: 10px; color: #aaa"><span class="badge" style="background-color: #aaa"><%= q.tag %></span>&nbsp;created on&nbsp;<%= q.created_at.strftime('%Y-%m-%d') %>&nbsp;by&nbsp;<%= by %></i>&ensp;<a href="/questions/<%= q.id %>/answers"><span class="badge w3-white w3-border"><%= Answer.where(question_id: q.id).length %> answers</span></a><br><b style="font-size: 20px"><%= q.subject %></b><br>&emsp;

    <% if Answer.find_by_question_id(q.id) == nil %>
      <i style="color: #ccc">"NO ANSWER"</i></div>
    <% else %>
      <i><b style="color: #777">"<%= Answer.find_by_question_id(q.id).content %>"</b></i></div>
    <% end %>
    
<!-- Trigger the modal with a button -->
    <% if current_user.nil? %>
    <button type="submit" id="uvoteBtn" class="btn btn-info" data-toggle="modal" data-target="#logModal"><i id="up<%= q.id %>">upvote</i>
      </button><i id="upvote<%= q.id %>" class="fa fa-thumbs-up">&nbsp;<%= @upvotes[q.id] ||= 0 %></i>
    <button type="submit" id="dvoteBtn" class="btn btn-info" data-toggle="modal" data-target="#logModal"><i id="down<%= q.id %>">downvote</i>
      </button><i id="downvote<%= q.id %>" class="fa fa-thumbs-down">&nbsp;<%= @downvotes[q.id] ||= 0 %></i>
    <button id="ansBtn" class="btn btn-default" style="color: #ccc" data-toggle="modal" data-target="#logModal"><i class="fa fa-pencil">Answer</i></button>

    
    <% else %>

     <!-- for upvote -->    
     <form class="upvoteForm" style='display:inline;' method='post' action='/questions/<%= q.id %>/upvote'>

     <% if current_user && @uplist.find_by_question_id(q.id) != nil %>
      <button type="submit" id="uvoteBtn" class="btn btn-primary"><i id="up<%= q.id %>">upvoted</i>
      <% else %>
      <button type="submit" id="uvoteBtn" class="btn btn-info"><i id="up<%= q.id %>">upvote</i>
      <% end %></button>

      <i id="upvote<%= q.id %>" class="fa fa-thumbs-up">&nbsp;<%= @upvotes[q.id] ||= 0 %></i>
    </form>


    <!-- for downvote -->
    <form class="downvoteForm" style='display:inline;' method='post' action='/questions/<%= q.id %>/downvote'>
   
    <% if current_user && @downlist.find_by_question_id(q.id) != nil %>
      <button type="submit" id="dvoteBtn" class="btn btn-primary"><i id="down<%= q.id %>">downvoted</i>
      <% else %>
      <button type="submit" id="dvoteBtn" class="btn btn-info"><i id="down<%= q.id %>">downvote</i>
      <% end %></button>

      <i id="downvote<%= q.id %>" class="fa fa-thumbs-down">&nbsp;<%= @downvotes[q.id] ||= 0 %></i>
    </form>


    <a href="/questions/<%= q.id %>/answers"><button id="ansBtn" class="btn btn-default"><i class="fa fa-pencil">Answer</i></button></a>
    <% end %>

  </div>
<% end %>

<% if current_user %>
<%= will_paginate @questions %>
<% end %>

<!-- Modal for login -->
<div style="text-align: center;" class="modal fade" id="logModal" role="dialog"><div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login to answer and vote</h4>
      </div>
      <div class="modal-body">
        <form method=post action=/session1>
            <input type=text placeholder="Email" name="user[email]"><br>
            <input type=password placeholder="Password" name="user[password]"></br>
            <input type=submit value="Login">
        </form>
      </div>
</div></div></div>  


