<h2>QUESTIONS FROM ALL USERS</h2>

<% @questions.each do |q| %> <% u = User.find(q.user_id) %>
  <% if !current_user.nil? && u.id == current_user.id %>
    <% by = "you" %>
  <% else %>
    <% by = u.first_name.upcase  %>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">Subject:&ensp;<a href="/questions/<%= q.id %>/answers"><span class="badge"><%= Answer.where(question_id: q.id).length %> answers</span></a><br><b><%= q.subject %></b>
    <div style="text-align: right; font-size: 10px">created on&nbsp;<%= q.created_at.strftime('%Y-%m-%d') %>&nbsp;by&nbsp;<%= by %></div></div>
    <div class="panel-body">

    <% if q.description.length == 0%>
      <i style="color: #ccc">NO DESCRIPTION</i></div>
    <% else %>
      <i style="color: #ccc">DESCRIPTION:</i><br><%= q.description %></div>
    <% end %>
    
     <form id="voteQForm" style='display:inline;' method='post' action='/questions/<%= q.id %>/add'>

     <% if current_user && @list.find_by_question_id(q.id) != nil %>
      <button type="submit" id="voteBtn" class="btn btn-primary">
      <% else %>
      <button type="submit" id="voteBtn" class="btn btn-info">
      <% end %>


      <i class="fa fa-thumbs-up">&ensp;<%= @votes[q.id] ||= 0 %></i></button>
    </form>

    <% if current_user.nil? %>
    <a href="/questions/<%= q.id %>/answers/new"><button id="ansBtn" class="btn btn-default" style="color: #ccc"><i class="fa fa-pencil">Answer</i></button></a>
    <% else %>
    <a href="/questions/<%= q.id %>/answers/new"><button id="ansBtn" class="btn btn-default"><i class="fa fa-pencil">Answer</i></button></a>
    <% end %>

  </div>
<% end %>