<h1>all the answers for this question</h1>

<% def author(u) %>
  <% if !current_user.nil? && u.id == current_user.id %>
    <% return "you" %>
  <% else %>
    <% return u.first_name.upcase  %>
  <% end %>
<% end %>

<% u = User.find(@q.user_id) %>
<% by = author(u) %>
<div class="panel panel-default">
  <div class="panel-heading"><b>Q: <%= @q.subject %></b>
  <div style="text-align: right; font-size: 10px">created on&nbsp;<%= @q.created_at.strftime('%Y-%m-%d') %>&nbsp;by&nbsp;<%= by %></div></div>
  <div class="panel-body">

  <% if @q.description.length == 0%>
    <i style="color: #ccc">NO DESCRIPTION</i>
  <% else %>
    <i style="color: #ccc">DESCRIPTION:</i><br><%= @q.description %>
  <% end %></div>

  <% if !current_user.nil? %>
    <a href="/questions/<%= @q.id %>/answers/new"><button id="ansBtn" class="btn btn-default"><i class="fa fa-pencil">Answer</i></button></a>
  <% end %>
</div>

<p>ANSWERS:</p>
<% if @answers.length == 0 %>
  <p id="noQmsg" style="text-align: center">This question has no answer yet.</p>
<% else %>
  <% @answers.each do |a| %>
    <% u = User.find(a.user_id) %>
    <% by = author(u) %>
    <div class="panel panel-default">
      <div class="panel-body">A: <b><%= a.content %></b>
      <div style="text-align: right; font-size: 10px">updated on&nbsp;<%= a.updated_at.strftime('%Y-%m-%d') %>&nbsp;by&nbsp;<%= by %></div></div>
      
       <form class="voteForm" style='display:inline;' method='post' action='/answers/<%= a.id %>/add'>

         <% if current_user && @list.find_by_answer_id(a.id) != nil %>
          <button type="submit" id="voteBtn" class="btn btn-primary"><i id="like_<%= a.id %>">liked</i>
          <% else %>
          <button type="submit" id="voteBtn" class="btn btn-info"><i id="like_<%= a.id %>">like</i>
          <% end %></button>

          <i id="vote_<%= a.id %>" class="fa fa-thumbs-up">&nbsp;<%= @votes[a.id] ||= 0 %></i>
        </form>

    </div>
  <% end %>
<% end %>

