<html>
	<head>
		<title>Ask Ana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
    <script src="/js/application.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>
	<body class="container">
        

        <div id="header" class="fixed-header">
        <a href='/'><img class="logo" src="/img/ana-logo.png"></a>&emsp;<i id="webname">Ask n Answer</i>

        <table style="float: right"><tr><td>
        <% if current_user %>
        <% @q = Question.where(user_id: current_user.id).length %>
        <% @a = Answer.where(user_id: current_user.id).length %>
          <a href='/profile'> My Profile&nbsp; |</a>
          <!-- <a href='/questions/new'>Ask Question&nbsp; |</a> -->
          <a href='/users/<%= current_user.id %>/questions'>My Questions&nbsp;<span id="badge1" class="badge"><%= @q %></span> |</a>
          <a href="/users/<%= current_user.id %>/answers"> My Answers&nbsp;<span id="badge3" class="badge"><%= @a %></span> |</a>
          <!-- <a href="/"> Log out&nbsp; |</a> -->
        <% else %>      
          <button class="logoutbtn" style="background-color: #ccc" data-toggle="modal" data-target="#logModal">Login</button><
          &ensp;<a data-toggle="modal" data-target="#signModal">Sign Up  |</a>
          <!-- <a href="/session/new"> Login  |</a> -->
        <% end %>

        <a href='/questions'>See All Questions&nbsp;<span id="badge2" class="badge"><%= Question.all.length %></span></a>
        </td><td>&emsp;</td><td>
        <!-- </div><div style="float: right"> -->
        <% if current_user %>
            <form action="/session/<%= current_user.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input class="logoutbtn" type="submit" value="Log Out">
            </form>
          <% end %>
        <!-- </div> -->
        </td></tr></table>
        </div>

        <div id="content">

        <div id="errormsg"></div>
        <% flash.keys.each do |type| %>
          <div data-alert class="flash <%= type %> alert-box radius">
          <% if type == 'msg'.to_sym %>
            <div id="alert" class="alert alert-success"><strong><%= flash[type] %></strong>
          <% elsif type == 'info'.to_sym %>
            <div id="alert" class="alert alert-info"><strong><%= flash[type] %></strong>
          <%else%>
            <div id="danger" class="alert alert-danger"><strong><%= flash[type] %></strong>
          <%end%>
          <a href="#" class="close">&times;</a></div>
          </div>
        <% end %>

        <%= yield %>
        </div>

	</body>
</html>

<!-- Modal for signup -->
<div style="text-align: center;" class="modal fade" id="signModal" role="dialog"><div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign up for an account</h4>
      </div>
      <div class="modal-body">
        <form id="signForm" method="post" action="/user1">
          <input type=text placeholder="First Name" name="user[first_name]" required><br>
          <input type=text placeholder="Last Name" name="user[last_name]" required><br>
          <input type=text placeholder="Email" name="user[email]" required><br>
          <input type=password placeholder="Password (6-10 characters)" name="user[password]" maxlength="10" required><br>
          <input type=submit value="Sign up">
      </form>
      </div>
</div></div></div>  
