<html>
	<head>
		<title>My aNa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
    <script src="/js/application.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>
	<body class="container">
        

        <div id="header" class="fixed-header">
        <img class="logo" src="/img/ana-logo.png">&emsp;<i id="webname">Ask n Answer</i>

        <!-- <div style="float: left; clear: both"> -->
        <table style="float: right"><tr><td>
        <% if current_user %>
        <% @q = Question.where(user_id: current_user.id).length %>
        <% @a = Answer.where(user_id: current_user.id).length %>
          <a href='/profile'> My Profile&nbsp; |</a>
          <!-- <a href='/questions/new'>Ask Question&nbsp; |</a> -->
          <a href='/users/<%= current_user.id %>/questions'>My Questions&nbsp;<span id="badge1" class="badge"><%= @q %></span> |</a>
          <a href="/users/<%= current_user.id %>/answers"> My Answers&nbsp;<span id="badge3" class="badge"><%= @a %></span> |</a>
          <!-- <a href="/"> Log out&nbsp; |</a> -->
        <% else %>      
          <a href="/session/new"><button class="logoutbtn" style="background-color: #ccc">Login</button></a>
          &ensp;<a href='/'>Sign Up  |</a>
          <!-- <a href="/session/new"> Login  |</a> -->
        <% end %>

        <a href='/questions'>See All Questions&nbsp;<span id="badge2" class="badge"><%= Question.all.length %></span></a>
        </td><td>&emsp;</td><td>
        <!-- </div><div style="float: right"> -->
        <% if current_user %>
            <form action="/session/<%= current_user.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input class="logoutbtn" type="submit" value="Log Out">
            </form>
          <% end %>
        <!-- </div> -->
        </td></tr></table>
        </div>

        <div id="content">

        <div id="errormsg"></div>
        <% flash.keys.each do |type| %>
          <div data-alert class="flash <%= type %> alert-box radius">
          <% if type == 'msg'.to_sym %>
            <div id="alert" class="alert alert-success"><strong><%= flash[type] %></strong>
          <% elsif type == 'info'.to_sym %>
            <div id="alert" class="alert alert-info"><strong><%= flash[type] %></strong>
          <%else%>
            <div id="danger" class="alert alert-danger"><strong><%= flash[type] %></strong>
          <%end%>
          <a href="#" class="close">&times;</a></div>
          </div>
        <% end %>

        <%= yield %>
        </div>

	</body>
</html>
